doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/custom.js')

  body
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
          .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")

            a.navbar-brand ebw test app

          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/questions') answer questions!
              li
                a(href='/') admin section
    block content



  footer
    script(src='/bootstrap/js/bootstrap.min.js')

